/* Importamos la fuente Roboto desde Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");


select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 16px;
  width: 30px;
  outline: none;
}

/* Estilo del icono desplegable */
select::after {
  content: '\25BC'; /* Código Unicode para un triángulo hacia abajo */
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

/* Cambio de estilo en hover y focus */
select:hover,
select:focus {
  border-color: #555;
}


/* Reset de estilos generales */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; /* Usamos Roboto como la fuente predeterminada */
  box-sizing: border-box;
}

/* Estilos del cuerpo del documento */
body {
  background: black;
}

/* Estilos del contenedor principal */
.cuerpo {
  margin-top: 50px;
  border: solid 2px #424542;
  border-radius: 7px;
  box-shadow: 1px 1px #e7dfe7, -1px -1px #e7dfe7, 1px -1px #e7dfe7, -1px 1px #e7dfe7, 0 -2px #9c9a9c, -2px 0 #7b757b, 0 2px #424542;
  padding: 5px 10px 0 10px;
  background: linear-gradient(45deg, rgb(0, 0, 80), rgb(0, 0, 128));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  outline: none;
  overflow: hidden;
  color: #eff1ff;
  font-family: Verdana, sans-serif;
  text-shadow: 2px 2px #212421, 1px 1px #212021;
  font-weight: normal;
  font-size: 1em;
  vertical-align: top;
  line-height: 2em;
}

/* Estilos para el textarea */
textarea {
  resize: none;
}

/* Estilos para los radio buttons */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid var(--clr);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

/* Estilos para los radio buttons seleccionados */
input[type="radio"]:checked {
  background: var(--clr);
  color: #333;
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 50px var(--clr);
}

/* Estilos para el botón de submit */
input[type="submit"] {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: solid 2px #424542;
  border-radius: 7px;
  box-shadow: 1px 1px #e7dfe7, -1px -1px #e7dfe7, 1px -1px #e7dfe7, -1px 1px #e7dfe7, 0 -2px #9c9a9c, -2px 0 #7b757b, 0 2px #424542;
  padding: 5px 10px 0 10px;
  background: linear-gradient(45deg, rgb(0, 0, 80), rgb(0, 0, 128));
  z-index: 1;
  outline: none;
  overflow: hidden;
  color: #eff1ff;
  font-family: Verdana, sans-serif;
  text-shadow: 2px 2px #212421, 1px 1px #212021;
  font-weight: normal;
  font-size: 1em;
  vertical-align: top;
  line-height: 2em;
}

/* Estilos para el botón de submit al pasar el ratón */
input[type="submit"]:hover {
  background: linear-gradient(45deg, rgb(0, 0, 128), rgb(0, 0, 80));
  box-shadow: 2px 2px #e7dfe7, -2px -2px #e7dfe7, 2px -2px #e7dfe7, -2px 2px #e7dfe7, 0 -4px #9c9a9c, -4px 0 #7b757b, 0 4px #424542;
  transform: scale(1.05);
}

/* Estilos para la clase 'izquierda' */
.izquierda{
  float: left;
}

/* Estilos para la clase 'derecha' */
.derecha{
  float: left;
}

/* Estilos para el menú radial animado */
.Animated-Radial-Menu {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

/* Estilos para el contenedor del menú */
.Animated-Radial-Menu .menu {
  position: relative;
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el botón de toggle en el menú radial */
.Animated-Radial-Menu .menu .toggle {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #2f363e;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
  font-size: 2em;
  transition: transform 0.5s;
}

/* Estilos para los elementos del menú radial */
.Animated-Radial-Menu .menu li {
  position: absolute;
  left: 0;
  list-style: none;
  transition: 0.3s;
  transition-delay: calc(0.04s * var(--i));
  transform: rotate(0deg) translateX(110px);
  transform-origin: 140px;
}

/* Estilos para los enlaces dentro de los elementos del menú radial */
.Animated-Radial-Menu .menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: var(--clr);
  border: 2px solid var(--clr);
  border-radius: 50%;
  font-size: 1.5em;
  transform: rotate(calc(-45deg * var(--i)));
  transition: 0.3s;
}

/* Estilos para los enlaces dentro de los elementos del menú radial al pasar el ratón */
.Animated-Radial-Menu .menu li a:hover {
  background: var(--clr);
  color: #333;
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 50px var(--clr);
}

/* Estilos para el menú radial cuando está activo */
.Animated-Radial-Menu .menu.active .toggle {
  transform: rotate(315deg);
}

/* Estilos para los elementos del menú radial cuando está activo */
.Animated-Radial-Menu .menu.active li {
  transform: rotate(calc(72deg * var(--i))) translateX(0px);
}

/* Estilos para el botón de retroceso */
#backButtom {
  position: relative;
  background: black;
  width: 80px;
  height: 80px;
  top: 25px;
  left: 25px;
  border: none;
  outline: none;
}

/* Estilos para la imagen dentro del botón de retroceso al pasar el ratón */
#backButtom img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
}

/* Estilos para la imagen dentro del botón de retroceso al hacer clic */
#backButtom:hover img {
  transform: scale(1.1);
}

/* Estilos para la imagen dentro del botón de retroceso al hacer clic */
#backButtom:active img {
  transform: scale(0.9);
}

/* Estilos específicos para un elemento con id 'env' */
#env {
  margin-top: 15px;
  margin-left: -10px;
}
