body {
    font-family: Arial, sans-serif;
    background-color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Oculta los botones inicialmente */
nav svg {
      display: none;
}

#mainNav {
    position: fixed;
    top: 200;
    left: 0;
    background-color: transparent; /* Cambia esto al color de fondo deseado */
    color: white;
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
    z-index: 1000; /* Ajusta el índice z si es necesario */
}


#mainNav a {
    color: white;
    text-decoration: none; /
}

.container {
    position: relative;
    text-align: center;
    color: #fff;
}

#hamburgerButton {
    position: fixed;
    top: 10px; /* ajusta la distancia superior según sea necesario */
    left: 10px; /* ajusta la distancia izquierda según sea necesario */
}

#muteButton {
    position: fixed;
    top: 10px; /* ajusta la distancia superior según sea necesario */
    left: 90px; /* ajusta la distancia izquierda según sea necesario */
}

.music_button button {
    background-color: transparent; /* Cambia esto al color de fondo deseado */
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

.sword {
    position: absolute;
    top: -140px; /* Ajusta la posición vertical */
    left: 30px; /* Ajusta la posición horizontal */
    z-index: -1; /* Coloca la imagen detrás del contenido */
    width: 600px; /* Tamaño doble de la imagen original */
    height: auto; /* Mantiene la proporción original de la imagen */
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    display: inline-block;
}

.options {
    margin-top: 20px; /* Espacio entre el título y las opciones */
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: #007bff;
    font-size: 24px;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    text-shadow: 0 0 2px #000, /* Borde negro alrededor de cada letra */
                 0 0 2px #000, 
                 0 0 2px #000, 
                 0 0 2px #000; /* Ajusta según el grosor del borde deseado */
}

a:hover {
    background-color: #007bff;
    color: #fff;
}
