<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="../static/assets/css/crear_arma_style.css">

    <!-- Scripts de ionicons para iconos -->
    <script defer type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script defer nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- Script personalizado -->
    <script defer src="../static/assets/js/crear_arma.js"></script>

    <title>Formulario</title>
</head>

<body>
    <!-- Elementos de audio para sonidos -->
    <audio id="start-sound">
        <source src="../static/assets/audio/menu_start.mp3" type="audio/mpeg">
    </audio>
    <audio id="error-sound">
        <source src="../static/assets/audio/menu_error.mp3" type="audio/mpeg">
    </audio>

    <!-- Botón de retroceso -->
    <button id="backButtom" aria-label="volver" onclick="goMenu()">
        <img src="../static/assets/images/volver.png" alt="volver">
    </button>

    <!-- Contenedor principal del formulario -->
    <div class="cuerpo">
        <form id="dynamicForm" action="#" method="POST" onsubmit="return validarFormulario();">

            <!-- Campo oculto para la clave -->
            <input type="hidden" id="clave" name="clave" value='{{datos.clave}}'>

            <!-- Campo de entrada para el nombre -->
            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" name="nombre" value="{{datos.nombre}}"><br>

            <!-- Campo de entrada para la descripción -->
            <label for="descripcion">Descripción:</label><br>
            <textarea id="descripcion" name="descripcion">{{datos.descripcion}}</textarea><br>

            <!-- Campo de entrada para el ataque -->
            <label for="ataque">Ataque:</label><br>
            <input type="number" min="0" max="99" id="ataque" name="ataque" value="{{datos.ataque}}"><br>

            <!-- Campo de entrada para el porcentaje de ataque -->
            <label for="ataquePor">Ataque%:</label><br>
            <input type="number" min="0" max="99" id="ataquePor" name="ataquePor" value="{{datos.ataquePor}}"><br>

            <!-- Campo de entrada para la magia -->
            <label for="magia">Magia:</label><br>
            <input type="number" min="0" max="99" id="magia" name="magia" value="{{datos.magia}}"><br>

            <!-- Campo de entrada para el coste -->
            <label for="coste">Coste:</label><br>
            <input type="number" min="1" max="50" id="coste" name="coste" value="{{datos.coste}}"><br>

            <!-- Selector de slots de materia -->
            <label for="materia">Slots de Materias:</label>
            <select id="materia" name="materia" onchange="createInputs()" value="{{datos.materia}}">
                <option value="0">-- SELECT --</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <!-- Botón de envío del formulario -->
            <input id="env" type="submit" value="Enviar">
        </form>
    </div>

    <!-- Script para verificar el valor seleccionado en el selector de materias -->
    <script>
        window.onload = function() {
            var materiaSelect = document.getElementById('materia');
            if (parseInt("{{datos.materia}}") > 0) {
                materiaSelect.value = "{{datos.materia}}"
                createInputs();
            }
        };
    </script>

    <!-- Script para marcar el radio button correspondiente -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById("{{datos.tipo}}").checked = true;
        });
    </script>

    <!-- Script para redirigir al menú principal -->
    <script>
        function goMenu() {
            window.location.href = "/armas";
        }

        function loadOptionsForComboBox(comboBox) {
            // Hacer la petición al servicio REST
            fetch(`/bbdd/materia`)
                .then(function(response) {
                    if (!response.ok) {
                        throw new Error('Error al obtener los datos');
                    }
                    return response.json();
                })
                .then(function(data) {
                    console.log('Datos de la consulta:', data); // Agregar un log para mostrar los datos
                    // Limpiar opciones existentes
                    comboBox.innerHTML = '';
                    let optionElement = document.createElement('option');
                    optionElement.value = "";
                    optionElement.textContent = "";
                    comboBox.appendChild(optionElement);
                    // Iterar sobre las claves del objeto data
                    Object.keys(data).forEach(function(key) {
                        let optionElement = document.createElement('option');
                        optionElement.value = data[key].nombre; // Usar el campo "clave"
                        optionElement.textContent = data[key].clave;
                        comboBox.appendChild(optionElement);
                    });
                })
                .catch(function(error) {
                    console.error('Error al cargar opciones:', error);
                });
        }


        function createInputs() {
            var numberOfInputs = parseInt(document.getElementById("materia").value);
            var form = document.getElementById("dynamicForm");

            // Eliminar el botón de envío actual
            var boton = document.getElementById("env");
            form.removeChild(boton);

            // Limpiar los campos de entrada existentes
            for (var i = 0; i < 5; i++) {
                var espacio = document.getElementById("spc" + (i + 1));
                var label = document.getElementById("label" + (i + 1));
                var comboBox = document.getElementById("comboBox" + (i + 1));

                if (form.contains(espacio)) {
                    form.removeChild(espacio);
                }

                if (form.contains(comboBox)) {
                    form.removeChild(comboBox);
                }

                if (form.contains(label)) {
                    form.removeChild(label);
                }
            }

            // Crear nuevos comboboxes según el número de slots seleccionados
            for (var i = 0; i < numberOfInputs; i++) {
                var label = document.createElement("label");
                label.for = "comboBox" + (i + 1);
                label.textContent = "slot de materia " + (i + 1) + ":";
                label.id = "label" + (i + 1);
                form.appendChild(label);

                var comboBox = document.createElement("select");
                comboBox.name = "slot" + (i + 1);
                comboBox.id = "comboBox" + (i + 1);
                form.appendChild(comboBox);

                // Cargar las opciones para el combobox recién creado
                loadOptionsForComboBox(comboBox);

                // Crear un espacio para separar los campos de entrada
                var espacio = document.createElement("br");
                espacio.id = "spc" + (i + 1);
                form.appendChild(espacio);
            }

            // Agregar el botón de envío nuevamente
            var submitButton = document.createElement("input");
            submitButton.type = "submit";
            submitButton.value = "Enviar";
            submitButton.id = "env";
            form.appendChild(submitButton);
        }
    </script>
</body>

</html>