<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/assets/css/crear_arma_style.css">
    <script defer type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script defer nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script defer src="../static/assets/js/crear_arma.js"></script>
    <title>Formulario</title>
</head>

<body>
    <audio id="start-sound">
        <source src="../static/assets/audio/menu_start.mp3" type="audio/mpeg">
        Tu navegador no soporta el elemento de audio.
    </audio>
    <audio id="error-sound">
        <source src="../static/assets/audio/menu_error.mp3" type="audio/mpeg">
        Tu navegador no soporta el elemento de audio.
    </audio>

    <button id="backButtom" aria-label="volver" onclick="goMenu()">
    <img src="../static/assets/images/volver.png" alt="volver">
  </button>

    <div class="cuerpo">
        <form id="dynamicForm" action="#" method="POST" onsubmit="return validarFormulario();">

            <input type="hidden" id="clave" name="clave" value='{{datos.clave}}'>

            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" name="nombre" value="{{datos.nombre}}"><br>

            <label for="descripcion">Descripción:</label><br>
            <textarea id="descripcion" name="descripcion">{{datos.descripcion}}</textarea><br>

            <label for="ataque">Ataque:</label><br>
            <input type="number" min="0" max="99" id="ataque" name="ataque" value="{{datos.ataque}}"><br>

            <label for="ataquePor">Ataque%:</label><br>
            <input type="number" min="0" max="99" id="ataquePor" name="ataquePor" value="{{datos.ataquePor}}"><br>

            <label for="magia">Magia:</label><br>
            <input type="number" min="0" max="99" id="magia" name="magia" value="{{datos.magia}}"><br>

            <label for="coste">Coste:</label><br>
            <input type="number" min="1" max="50" id="coste" name="coste" value="{{datos.coste}}"><br>

            <label for="materia">Slots de Materias:</label>
            <select id="materia" name="materia" onchange="createInputs()" value="{{datos.materia}}">
             <option value="0">-- SELECT --</option>
             <option value="1">1</option>
             <option value="2">2</option>
             <option value="3">3</option>
             <option value="4">4</option>
             <option value="5">5</option>
            </select><br>

            <input id="env" type="submit" value="Enviar">
        </form>
    </div>
    <script>
        // Esta función se ejecuta cuando se carga la página por primera vez
        window.onload = function() {
            var materiaSelect = document.getElementById('materia');
            // Verificar si el valor seleccionado es mayor que 0
            if (parseInt("{{datos.materia}}") > 0) {
                // Llamar a una función si se cumple la condición
                materiaSelect.value = "{{datos.materia}}"
                createInputs();
            }
        };
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById("{{datos.tipo}}").checked = true;
        });
    </script>
    <script>
        function goMenu() {
            window.location.href = "/armas";
        }

        function createInputs() {
            var numberOfInputs = parseInt(document.getElementById("materia").value);
            var form = document.getElementById("dynamicForm");


            boton = document.getElementById("env")
            form.removeChild(boton);
            // Clear existing inputs
            for (var i = 0; i < 5; i++) {
                espacio = document.getElementById("spc" + (i + 1));
                label = document.getElementById("label" + (i + 1));
                input = document.getElementById("slot" + (i + 1));

                if (form.contains(espacio)) {
                    form.removeChild(espacio);
                }

                if (form.contains(input)) {
                    form.removeChild(input);

                }

                if (form.contains(label)) {
                    form.removeChild(label);
                }
            }

            // Create new inputs
            for (var i = 0; i < numberOfInputs; i++) {
                var label = document.createElement("label");
                label.for = "slot" + (i + 1);
                label.textContent = "slot de materia " + (i + 1) + ":";
                label.id = "label" + (i + 1);
                form.appendChild(label);

                var input = document.createElement("input");
                input.type = "text";
                input.name = "slot" + (i + 1); // Setting unique name for each input
                input.id = "slot" + (i + 1);
                switch (i) {
                    case 0:
                        if ("{{datos.slot1}}" != "") {
                            input.value = "{{datos.slot1}}";
                        } else {
                            input.value = "N/A";
                        }
                        break;
                    case 1:
                        if ("{{datos.slot2}}" != "") {
                            input.value = "{{datos.slot2}}";
                        } else {
                            input.value = "N/A";
                        }
                        break;
                    case 2:
                        if ("{{datos.slot3}}" != "") {
                            input.value = "{{datos.slot3}}";
                        } else {
                            input.value = "N/A";
                        }
                        break;
                    case 3:
                        if ("{{datos.slot4}}" != "") {
                            input.value = "{{datos.slot4}}";
                        } else {
                            input.value = "N/A";
                        }
                        break;
                    case 4:
                        if ("{{datos.slot5}}" != "") {
                            input.value = "{{datos.slot5}}";
                        } else {
                            input.value = "N/A";
                        }
                        break;
                    default:
                        console.log("Valor por defecto");
                        break;
                }
                form.appendChild(input);
                var espacio = document.createElement("br")
                espacio.id = "spc" + (i + 1);
                form.appendChild(espacio); // Line break for spacing
            }

            // Add submit button
            var submitButton = document.createElement("input");
            submitButton.type = "submit";
            submitButton.value = "Enviar";
            submitButton.id = "env";
            form.appendChild(submitButton);
        }
    </script>

</body>

</html>