<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/assets/css/Animated-Radial-Menu.css">
    <script defer type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script defer nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script defer src="../static/assets/js/Animated-Radial-Menu.js"></script>

    <title>Formulario</title>
</head>

<body>
  <button id="backButtom" aria-label="volver" href="../materias" onclick="goBack()">
    <img src="../static/assets/images/volver.png" alt="volver">
  </button>
    <div class="cuerpo">
        <form action="#" method="POST" onsubmit="return validarFormulario();">

            
            <div class="izquierda">
            <label for="nivel">Tipo:</label><br>
            <div class="Animated-Radial-Menu">
                
                <ul class="menu">
                    <div class="toggle"><ion-icon name="add-outline"></ion-icon></div>
                    <li style="--i: 0; --clr: #ff2972;">
                        <a href="#">
                            <input type="radio" id="invocacion" name="tipo" value="invocacion" onchange="cambiarImagen('../static/assets/images/materiaRoja.png')">
                        </a>
                    </li>
                    <li style="--i: 1; --clr: #fee800;">
                        <a href="#">
                            <input type="radio" id="comando" name="tipo" value="comando" onchange="cambiarImagen('../static/assets/images/materiaAmarilla.png')">
                        </a>
                    </li>
                    <li style="--i: 2; --clr: #04fc43;">
                        <a href="#">
                            <input type="radio" id="magia" name="tipo" value="magia" onchange="cambiarImagen('../static/assets/images/materiaVerde.png')">
                        </a>
                    </li>
                    <li style="--i: 3; --clr: #00b0fe;">
                        <a href="#">
                            <input type="radio" id="soporte" name="tipo" value="soporte" onchange="cambiarImagen('../static/assets/images/materiaAzul.png')">
                        </a>
                    </li>
                    <li style="--i: 4; --clr: #a529ff;">
                        <a href="#">
                            <input type="radio" id="independiente" name="tipo" value="independiente" onchange="cambiarImagen('../static/assets/images/materiaMorada.png')">
                        </a>
                    </li>
                </ul>

            </div>
            <img id="imagenCambiante" src="../static/assets/images/materia0.png" >
        </div>
            <div class="derecha">
                <input type="hidden" id="clave" name="clave" value="{{datos.clave}}">

                <label for="nombre">Nombre:</label><br>
                <input type="text" id="nombre" name="nombre" value="{{datos.nombre}}"><br>

                <label for="descripcion">Descripción:</label><br>
                <textarea id="descripcion" name="descripcion">{{datos.descripcion}}</textarea><br>
                <label for="nivel">Nivel:</label><br>
                <select id="nivel" name="nivel" value="{{datos.nivel}}">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select><br>

                <label for="experiencia">Experiencia:</label><br>
                <input type="text" id="experiencia" name="experiencia" value="{{datos.experiencia}}"><br>

                <label for="fuerza">Fuerza:</label><br>
                <input type="text" id="fuerza" name="fuerza" value="{{datos.fuerza}}"><br>

                <label for="magia">Magia:</label><br>
                <input type="text" id="magias" name="magia" value="{{datos.magia}}"><br>

                <label for="maxpg">MaxPG%:</label><br>
                <input type="text" id="maxpg" name="maxpg" value="{{datos.maxpg}}"><br>

                <label for="maxpm">MaxPM%:</label><br>
                <input type="text" id="maxpm" name="maxpm" value="{{datos.maxpm}}"><br>

                <label for="coste">Coste:</label><br>
                <input type="text" id="coste" name="coste" value="{{datos.coste}}"><br>
                
            </div>
            <input type="submit" value="Enviar">
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById("{{datos.tipo}}").checked = true;
        });
        function goBack() {
            window.history.back(); // Esta función de JavaScript permite volver a la página anterior
        }
    </script>
</body>

</html>