<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Fantasy VII - Inventario</title>
    <link rel="stylesheet" href="static/assets/css/stylesIndex.css">
</head>
<body>
    <div class="container">
        <img src="static/assets/images/espada3.jpg" alt="Espada de Final Fantasy VII" class="sword">
        <h1>Final Fantasy VII - Inventario</h1>
        <div class="options">
            <a href="/materias">Gestión de Materia</a>
            <a href="#">Gestión de Armas</a>
            <a href="#">Gestión de Base de Datos</a>
        </div>
    </div>
</body>
</html>
