<!DOCTYPE html>
<html>
<head>
    <!-- Título de la página -->
	<title>Administrador de Materia de Final Fantasy 7</title>
	<!-- Enlace al archivo de estilos CSS -->
	<link rel="stylesheet" type="text/css" href="static/assets/css/styles.css">
</head>
<body>
    <!-- Elemento de audio para el sonido del menú -->
    <audio id="menu-sound">
        <source src="static/assets/audio/menu_display.mp3" type="audio/mpeg">
        Tu navegador no soporta el elemento de audio.
    </audio>
	<audio id="start-sound">
        <source src="../static/assets/audio/menu_start.mp3" type="audio/mpeg">
        Tu navegador no soporta el elemento de audio.
    </audio>
	<!-- Contenedor principal de la ventana de Final Fantasy 7 -->
	<div class="ff7-window">
		<!-- Título principal -->
		<h1 class="ff7-text">Administrador de Materia de Final Fantasy 7</h1>
		<!-- Barra de navegación -->
		<nav id="Menu">
			<ul>
				<!-- Enlaces de la barra de navegación -->
				<li><a id="crear" href="/bbdd/llenar" onclick="sonidos()">Crear ejemplos </a></li>
				<li><a id="borrar" href="/bbdd/borrar" onclick="sonidos()">Borrar Base de datos</a></li>
				<li><a href="javascript:void(0);" onclick="cerrarPestana()">Volver a la página principal</a></li>
			</ul>
		</nav>
		<!-- Contenido principal (se mostrará dinámicamente) -->
		<main class="ff7-text">
			<!-- El contenido se mostrará aquí en función de la selección del usuario -->
		</main>
	</div>
	<!-- Elemento HTML vacío (¿es necesario?) -->
 	<div></div>
	<!-- Scripts JavaScript -->
	<script>
		// Función para redirigir a la página principal
		function sonidos(){
			var menuSound = document.getElementById("start-sound");
            menuSound.pause();
            menuSound.currentTime = 0;
            menuSound.play();
		}
		function volverAPaginaPrincipal() {
			window.location.href = "index.html";
		}
		// Función para mostrar una imagen al pasar el ratón sobre un elemento (¿utilizado?)
		function mostrarImagen(event) {
			const imagen = event.target.dataset.image;
			event.target.style.backgroundImage = `url(${imagen})`;
			event.target.style.backgroundRepeat = "no-repeat";
			event.target.style.backgroundPosition = "10px center";
			event.target.style.paddingLeft = "40px";
		}
		// Función para ocultar una imagen al quitar el ratón del elemento (¿utilizado?)
		function ocultarImagen(event) {
			event.target.style.backgroundImage = "none";
			event.target.style.paddingLeft = "10px";
		}
		// Función para cerrar la pestaña actual
		function cerrarPestana() {
			window.close();
		}
	</script>
    <!-- Script para reproducir el sonido del menú al pasar el ratón sobre los elementos -->
  	<script>
		document.addEventListener("DOMContentLoaded", function() {
			// Obtener el elemento de audio del menú
			var menuSound = document.getElementById("menu-sound");
			// Agregar un evento de mouseover a todos los elementos de la página
			document.querySelectorAll("*").forEach(function(element) {
				element.addEventListener("mouseover", function() {
					// Pausar y reiniciar el audio del menú
					menuSound.pause();
					menuSound.currentTime = 0;
					menuSound.play();
				});
			});
		});
	</script>
</body>
</html>
