<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/assets/css/mostrar_materias_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
  <button id="backButtom" aria-label="volver" href="../materias" onclick="goBack()">
    <img src="../static/assets/images/volver.png" alt="volver">
  </button>
  <div class="cuerpo">
    <table border="1" >
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Tipo</th>
            <th>Nivel</th>
            <th>Experiencia</th>
            <th>Fuerza</th>
            <th>Magia</th>
            <th>MaxPG%</th>
            <th>MaxPM%</th>
            <th>Coste</th>
            <th>Botones</th>

        {% for dato in datos %}
        <tr data-aos="fade-left" data-aos-duration="1000">
            <td>{{ datos[dato]["clave"] }}</td>
            <td>{{ datos[dato]["nombre"] }}</td>
            <td>{{ datos[dato]["descripcion"] }}</td>
            {% if datos[dato]["tipo"] == "magia" %}
            <td><img src="../static/assets/images/materiaVerde.png" title="Magia" height=100 width=100></td>
            {% elif datos[dato]["tipo"] == "invocacion" %}
            <td><img src="../static/assets/images/materiaRoja.png" title="Invocacion" height=100 width=100></td>
            {% elif datos[dato]["tipo"] == "soporte" %}
            <td><img src="../static/assets/images/materiaAzul.png" title="Soporte" height=100 width=100></td>
            {% elif datos[dato]["tipo"] == "independiente" %}
            <td><img src="../static/assets/images/materiaMorada.png" title="Independiente" height=100 width=100></td>
            {% elif datos[dato]["tipo"] == "comando" %}
            <td><img src="../static/assets/images/materiaAmarilla.png" title="Comando" height=100 width=100></td>
            {% else %}
            <td><img src="../static/assets/images/materia0.png" title="N/A" height=100 width=100></td>
            {% endif %}
            <td>{{ datos[dato]["nivel"] }}</td>
            <td>{{ datos[dato]["experiencia"] }}</td>
            <td>{{ datos[dato]["fuerza"] }}</td>
            <td>{{ datos[dato]["magia"] }}</td>
            <td>{{ datos[dato]["maxpg"] }}</td>
            <td>{{ datos[dato]["maxpm"] }}</td>
            <td>{{ datos[dato]["coste"] }}</td>
            <td><button onclick="modificar(this)">Modificar</button> <button onclick="eliminar(this)">Eliminar</button></td>
        </tr>
        {% endfor %}
    </table>
  </div>
    <script>
      function eliminar(boton) {
        var fila = boton.parentNode.parentNode;
        var clave = fila.cells[0].innerText;

        var datos = {
          "clave": clave
        };

        // Realizar la solicitud POST a "/materias/modificar"
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/materias/eliminar", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
            // Manejar la respuesta aquí si es necesario
            console.log(xhr.responseText);
          }
        };
        xhr.send(JSON.stringify(datos));
        recargarPagina();
      }

      function modificar(boton) {
        var fila = boton.parentNode.parentNode;
        var clave = fila.cells[0].innerText;

        var datos = {
          "clave": clave
        };

        // Realizar la solicitud GET a "/materias/modificar"
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/materias/modificar", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
            // Manejar la respuesta aquí si es necesario
            console.log(xhr.responseText);
          }
        };

        const queryString = new URLSearchParams(datos).toString();

      window.location.href = `/materias/modificar?${queryString}`;
      }
    </script>
    <script>

        function recargarPagina() {
            setTimeout(function() {
            location.reload();
        }, 400);
        }
        function goBack() {
            window.history.back(); // Esta función de JavaScript permite volver a la página anterior
        }
    </script>
<script>
  AOS.init();
</script>
</body>
</html>